In [19]:
import pandas as pd 
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression

In [2]:
data=pd.read_csv("Housing.csv")

In [3]:
data.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [4]:
data.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [8]:
data.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [5]:
data.dtypes

price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad            object
guestroom           object
basement            object
hotwaterheating     object
airconditioning     object
parking              int64
prefarea            object
furnishingstatus    object
dtype: object

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [9]:
mapping={"yes":1,"no":0}
cols =  ["mainroad", "guestroom", "basement", "hotwaterheating", "airconditioning", "prefarea"]
for col in cols:
    data[col]=data[col].map(mapping)

In [10]:
data.dtypes

price                int64
area                 int64
bedrooms             int64
bathrooms            int64
stories              int64
mainroad             int64
guestroom            int64
basement             int64
hotwaterheating      int64
airconditioning      int64
parking              int64
prefarea             int64
furnishingstatus    object
dtype: object

In [15]:
encoder=LabelEncoder()
data["furnishingstatus"]=encoder.fit_transform(data["furnishingstatus"])

In [16]:
data.dtypes

price               int64
area                int64
bedrooms            int64
bathrooms           int64
stories             int64
mainroad            int64
guestroom           int64
basement            int64
hotwaterheating     int64
airconditioning     int64
parking             int64
prefarea            int64
furnishingstatus    int32
dtype: object

In [30]:
data.isna().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [31]:
predictors = data.drop(['price'],axis=1)
target=data['price']
x_train,x_val,y_train,y_val=train_test_split(predictors,target,test_size=0.3,random_state=0)

In [34]:
#Linear Regression

lin_reg=LinearRegression()
lin_reg.fit(x_train,y_train)
y_pred=lin_reg.predict(x_val)
y_pred_binary = [1 if pred >= 0.2 else 0 for pred in y_pred]
accuracy_linear=round(accuracy_score(y_val,y_pred_binary)*100,2)
print(accuracy_linear)

0.0

In [42]:
#Logistic Regression

log_reg=LogisticRegression()
log_reg.fit(x_train,y_train)
y_pred=log_reg.predict(x_val)
accuracy_logistic=round(accuracy_score(y_pred,y_val)*100,2)
print(accuracy_logistic)

1.22

C:\Users\Prajwal\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.9_qbz5n2kfra8p0\LocalCache\local-packages\Python39\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [40]:
print(y_pred)

[4340000 5040000 4200000 5040000 4200000 5950000 3500000 3010000 3500000
 5950000 5600000 5600000 4900000 5950000 5250000 4200000 5600000 5250000
 4200000 3920000 5250000 5250000 3500000 4200000 5600000 4900000 5250000
 3500000 4200000 5250000 3500000 4200000 6090000 3500000 4200000 3920000
 4900000 4200000 5600000 4200000 5950000 4900000 5600000 3500000 3500000
 5600000 4900000 3500000 4900000 5950000 3500000 5250000 4200000 3500000
 3500000 3500000 5600000 3010000 3500000 3500000 5040000 5600000 4200000
 7350000 3773000 4200000 5250000 3500000 5950000 3920000 4200000 7350000
 5950000 4200000 4900000 4900000 4200000 5950000 4340000 3500000 4200000
 5250000 4900000 5250000 4900000 4200000 3500000 5250000 4900000 4900000
 3500000 5040000 5950000 4900000 4200000 6300000 4200000 5250000 5040000
 5040000 5250000 4200000 4200000 4200000 5600000 5600000 3150000 3500000
 5950000 3500000 3500000 3500000 3500000 5040000 5600000 3010000 5950000
 3500000 4900000 5040000 5600000 4200000 3500000 4900000 3500000 3360000
 5950000 5040000 3500000 4200000 5600000 5950000 4200000 3500000 3500000
 5250000 4900000 4200000 5250000 3500000 3640000 3500000 5250000 4900000
 5950000 3500000 4200000 5250000 5250000 4200000 3500000 3500000 3500000
 5250000 4900000 3500000 5950000 5950000 4200000 3500000 3360000 4200000
 3150000 7350000]